@media (max-width: 450px) {
  .container {
    max-width: 317px;
  }

  .header {
    display: none;
  }

  .main {
    max-height: 833px;
    padding: 65px 0 83px;
  }

  .main__person {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .main__right {
    margin-top: 23px;
  }

  .about {
    min-height: 491px;
    padding: 81px 0 76px;
  }

  .about__paragraphs {
    display: none;
  }

  .about__paragraphs_mobile {
    display: block;
    max-width: 316px;
    max-height: 261px;
  }

  .skills {
    max-height: 1421px;
    padding: 83px 0 98px;
  }

  .skills__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .skills__programm:not(:first-child) {
    margin-top: 80px;
  }
}
