.about {
  background: #f6f6f6;
  min-height: 506px;
  padding: 120px 0 107px;
}

.about__title {
  font-size: 34px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about__paragraphs {
  max-width: 485px;
  max-height: 218px;
  margin: 17px auto 0;
}

.about__text {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about__indent {
  margin-top: 44px;
}

.about__paragraphs_mobile {
  display: none;
  margin: 29px auto 0;
}

.about__text_mobile {
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.about__indent_mobile {
  margin-top: 44px;
}
