.footer {
  max-height: 622px;
  padding: 114px 0 123px;
}

.footer__title {
  font-size: 34px;
  text-align: center;
}

.footer__text {
  margin-top: 20px;
  text-align: center;
  margin: 20px auto 0;
  max-width: 276px;
}

.footer__btn {
  width: 180px;
  height: 42px;
  padding: 10px 27px 5px 25px;
  background: #070707;
  border-radius: 42px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__button {
  margin: 43px auto 0;
}
