.footer {
  max-height: 622px;
  padding: 114px 0 123px;
}

.footer__title {
  font-size: 34px;
  text-align: center;
}

.footer__text {
  margin-top: 20px;
  text-align: center;
  margin: 20px auto 0;
  max-width: 276px;
}

.footer__btn {
  width: 180px;
  height: 42px;
  padding: 10px 27px 5px 25px;
  background: #070707;
  border-radius: 42px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.5s all;
  cursor: pointer;
}

.footer__button {
  margin: 43px auto 0;
  text-align: center;
}

.footer__btn:hover {
  color: #070707;
  background: #828282;
}

.footer__icon {
  cursor: pointer;
}

.footer__icon {
  display: block;
}

.footer__icons {
  max-width: 343px;
  margin: 85px auto 0;
}

.footer__comment {
    max-width: 244px;
    text-align: center;
    margin: 44px auto 0;
}