.main-text {
  color: #070707;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.second-text {
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.text-comment {
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
